<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context 
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

	<!--DB, 서비스, DAO 관리 : applicationContext,   웹요청 URL, Controller , JSP 연결 : dispatcher-servlet -->
	
    <!-- DB 연결 
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="org.mariadb.jdbc.Driver"/>
        <property name="url" value="jdbc:mariadb://gwp2025.cafe24.com:3306/gwp2025?allowPublicKeyRetrieval=true&amp;useSSL=false&amp;serverTimezone=Asia/Seoul"/>
        <property name="username" value="gwp2025"/>
        <property name="password" value="gkdldyd321!@!"/>
    </bean>-->
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="org.mariadb.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/mydb?allowPublicKeyRetrieval=true&amp;useSSL=false&amp;serverTimezone=Asia/Seoul"/>
        <property name="username" value="root"/>
        <property name="password" value="sampletest12345"/>
    </bean>

    <!-- JdbcTemplate -->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- Service, Repository, Config 관리 -->
    <context:component-scan base-package="com.study.mento.service"/>
    <context:component-scan base-package="com.study.mento.config"/>
    <!-- 스케줄링 -->
    <context:component-scan base-package="com.study.mento.scheduler"/>
    
    <!-- Enable Scheduling -->
    <task:annotation-driven/>
    
</beans>